/* src/components/LoadingAnimation.css */
@import url('https://fonts.googleapis.com/css2?family=YourFontName&display=swap');

@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
      }
      75% {
        transform: translateX(-10px);
      }
    }
    
/* src/components/LoadingAnimation.css */
.loading-screen {
    /* ... other styles ... */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5e4b8b; /* Or your chosen dark purple color */
  }
  
  .mainframe-text {
    font-size: 78px; /* Starting font size */
    font-family: 'Your European Styled Font', sans-serif;
    color: white;
    text-transform: uppercase;
    animation: slamInGrow 1.5s ease-in-out forwards; /* Adjust total animation time as needed */
  }
  
  @keyframes slamInGrow {
    0% {
      transform: scale(0); /* Start with the text very small to create the 'slam' effect */
      opacity: 0;
    }
    50% {
      transform: scale(1); /* Scale to full size */
      opacity: 1;
    }
    75% {
      transform: scale(1.5); /* Grow the text beyond its full size */
    }
    100% {
      transform: scale(1.2); /* End at a slightly larger than full size */
      opacity: 0; /* Fade out */
    }
  }
  